{{ template "header.html" . }}
<div class="col py-3 content">
    <div class="row">

        <div class="col-md-4 shadow-lg block">
            <h1>Справочник культура</h1>
            
                <h3>Изменить запись</h3>
                <form class="form" action="/gis/spr_cult/update" method="POST">
                    {{.cult}}
                    <input class="form-control form-control-lg" type="hidden" name="old_cult_id" id="cult_id" value="{{.cult.Id}}">
                    <input class="form-control form-control-lg" type="number" name="cult_id" id="cult_id" value="{{.cult.Id}}">
                    <input class="form-control form-control-lg" type="text" name="cult_name" id="cult_name" value="{{.cult.Title}}">
                    <input class="form-control form-control-lg" type="submit" value="Создать">
                    
                </form>
                 
                            
        </div>
                
    </div>                      
</div>

</body>
</html>