{{ template "header.html" . }}
    <div class="col py-3 content">
        <div class="row">

            <div class="col-md-10 shadow-lg block">
                <h1>Справочник культура</h1>
                <div style="overflow-y: scroll; max-height: 500px;">
                    <a href="/gis/spr_cult/addView">Добавить</a>
                    <table class="table table-dark cult">                    
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Редактировать</th>
                                <th>Удалить</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range .cult}}
                            <tr>
                                <td>{{.Id}}</td>
                                <td>{{.Title}}</td>
                                <td><a href="/gis/spr_cult/update/{{.Id}}">Редактировать</td>
                                <td><a href="/gis/spr_cult/del/{{.Id}}">Удалить</a></td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>      
                                
            </div>
                    
        </div>
                               
    </div>   
</body>
</html>